language: node_js
node_js:
  - "lts/*"

services:
  - docker

before_install:
  - docker build -t siz7/frontend -f Dockerfile.dev .

script:
  - docker run -e CI=true siz7/frontend npm test -- --watchAll=false